.background-header {
        background-color: rgb(126, 201, 239);
        height: 90px;
}

.logo {
    width: 180px;
    margin-top: 30px;
    margin-left: 20px;
}

.margin-1 {
    margin-bottom: 0px;
}

.margin-2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.margin-3 {
    margin-top: 0px;
}

.color-gray{
    color: rgb(179, 179, 179);
}

b{
    color: rgb(12, 197, 243);
}

th{
    background-color: rgba(126, 201, 239, 0.789);
}